#profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 13px rgba(27, 26, 26, 0.2);
}

#profile img{
    width: 400px;
    height: auto;
    border-radius: 50%;
    border-style: groove;
}

.desc p{
    max-width: 800px;
    font-size: 24px;
    line-height: 42px;
    padding-left: 20px;
}